body {
    background-color: #f6f8fa;
    margin: 0;
    font-family: helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button, input[type=submit]{
	background-color: #1074e7;
	border: 1px solid #d2d6db;
	border-radius: 5px;
	padding: 10px 20px;
}

button:hover, input[type=submit]:hover{
	background-color: #0366d6;
}

#header {
    width: 100%;
    padding: 20px 0;
    color: #ffffff;
    background-color: #1f242a;
}

#header a {
    color: #ffffff;
}

#logo {
	margin-left: 5%;
}

#new-note {
	margin-left: 5%;
}

#login {
	float: right;
	margin-right: 5%;
}

#content {
	width: 60%;
	margin: 2% auto;
}

#content a:hover{
    text-decoration: underline;
}

.note{
	width: 100%;
	padding: 0 20px 20px 20px;
	margin: 20px 0;
	background-color: #ffffff;
	border: 1px solid #d2d6db;
	border-radius: 5px;
}

.note a {
    color: #000;
}

.score {
	float: right;
}

.unelected {
	color: #d2d6db;
}

.unelected:hover {
	color: #ffd700;
}

.elected {
	color: #ffd700;
}

.elected:hover {
	color: #d2d6db;
}

.delete:hover {
	color: #cc0000;
	text-decoration: underline;
}

#login-form {
	width: 40%;
	padding: 20px;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid #d2d6db;
	border-radius: 5px;
	font-size: 16px;
}

#login-form * {
	display: block;
}

#login-form input[type=text], input[type=password] {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	background-color: #ffffff !important;
}

#login-form input[type=submit],
#login-form button{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	color: #ffffff;
}

#login-form input[type=submit]{
	background-color: #2ebc4f;
}

#login-form input[type=submit]:hover{
	background-color: #28a745;
}

#login-form button a {
	color: #ffffff;
	text-decoration: none;
}

#login-form button a:hover {
	text-decoration: none;
}

#login-form ul {
	padding: 0;
	color: #cc0000;
}

#subheader {
	padding: 10px 30px;
	background-color: #eeeeee;
}

#subheader div{
	display: inline;
}

#subheader button{
	padding: 5px 15px;
	margin: 0 20px;
}

#subheader input[type=text], #subheader select{
	margin-right: 10px;
}

