{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
        <span id="logo"><a href="{% url 'notes:note_list' %}">Note Manager</a></span>
        {% if request.user.is_authenticated  %}
            <span id="new-note"><a href="{% url 'notes:note_create' %}">Create note</a></span>
            <span id="login"><a href="{% url 'account:logout' %}">Logout</a></span>
        {% else %}
            <span id="login"><a href="{% url 'account:login' %}">Login</a></span>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
        $(document).ready(function () {
            {% block domready %}
            $('.score').click(function (e) {
                e.preventDefault();
                var tag = $(this).find('span');
                var pre_class = $(this).find('span').attr('class');
                $.post(
                    '{% url 'notes:note_elect' %}',
                    {id: $(this).data('id')},
                    function(){
                        tag.attr('class', null);
                        tag.addClass(pre_class == 'elected' ? 'unelected' : 'elected');
                        tag.text(pre_class == 'elected' ? 'Unelected' : 'Elected');
                    });
            });
            $('.delete').click(function (e) {
                e.preventDefault();
                chosen_element = $(this);
                $.post(
                    '{% url 'notes:note_delete' %}',
                    {id: $(this).data('id')},
                    function (data) {
                        if (data['status'] == 'ok'){
                            chosen_element.parent('.note').detach()
                        }
                    }
                );
            });
        {% endblock %}
        });
    </script>
</body>
</html>